// Main Sass File
$bg-color: #0F1222;
$mn-color: #FF8700;
$trans: translate(-50%);

* {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }

body {
    background: $bg-color  }
  
  .pepisLogo {
    height: 70px;
    position: fixed;
    z-index: 10001;
    margin-top: 10px;
    margin-left: 80%;
    transition: all 0.4s ease-in-out; }
  
  .pepisLogo-nav {
    position: fixed;
    margin-left: 40%;
    height: 90px;
    cursor: pointer;
    transition: all 0.4s ease-in-out; }
  
  .fa-bars {
    color: black;
    font-size: 25px;
    cursor: pointer; }
  
  .sidebar-nav-closed {
    position: fixed;
    background: $bg-color;
    height: 100vh;
    width: 40%;
    top: 0;
    left: -40%;
    transition: all 0.4s ease-in-out; }
  
  .sidebar-nav-opened {
    position: fixed;
    background: white;
    height: 100vh;
    width: 40%;
    top: 0;
    left: 0px;
    border-right: 4px solid white;
    z-index: 10009; }
  
  .close-rect-hidden {
    top: 0;
    left: 0%;
    position: fixed;
    width: 100%;
    transition: all 0.6s ease-in-out;
    z-index: 1001; }
  
  .close-rect-showing {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.76);
    margin-left: 40%;
    height: 100vh;
    transition: all 0.6s ease-in-out;
    cursor: pointer; }

  .mobileTitle1 {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    margin-left: 50%;
    text-align: center;
    transform: $trans;
    color: $mn-color; 
    text-transform: uppercase;}
    
  .mobileTitle2 {
    position: absolute;
    margin-top: 60px;
    font-size: 90px;
    margin-left: 50%;
    transform: $trans;
    text-transform: uppercase; }

  #title {
    color: $mn-color; }

  #Y {
    height: 30px;
  margin-top: 180px;
  margin-left: 50%;
  transform: $trans; }

  .sidenav {
    height: 50vh;
    padding-left: 0px;
    margin-top: 30px; }

  .sidenav-item {
    padding-left: 15px;
    padding-bottom: 10px;
    background: white;
    padding-top: 25px;
    border-bottom: 0.5px solid rgba(38, 38, 38, 0.24);
    text-transform: capitalize;  }

  .sidenav-item:hover {
    color: $mn-color;}
        
  .infoNav {
    display: none;
  }
  .openMenu {
    display: none;
  }

  @media only screen and (min-width: 350px) {
    .pepisLogo {
      height: 110px; }
  }
    @media only screen and (min-width: 650px) {

    body {
      background: $bg-color; }
    .location {
      float: left;
    }
    .fa-map-marker{
      margin: 0px 2px;
    }
    .inside {
      color: white;
    }
    .fa-arrow-circle-up:hover {
      color: $mn-color;
    }

    #Y {
      height: 50px;}
    .infoNav {
      display: inline; }
    
    .foodNav {
      display: none; }

    .openMenu {
      display: initial;}

    .secondNav {
      margin-top: 20px;
      text-align: center;
      padding: 0px 0; 
      background: white;}

    .main-item {
      height: 50px;
      padding-top: 13px;
      display: inline-block;
      min-width: 50px;
      margin-right: 20px;
     }
    .main-item:hover {
      color: $mn-color;}

      // Map Start
      .openedLocation {
        display: inline;
        margin: 0 auto;
      }
      .closedLocation {
        display: none;
      }
    #map {
      margin: 0 auto;
      height: 400px;
      width: 90%; }
    #popheader {
      font-size: 25px;
    }
    .popupK{
      background: #ffdb3a;
      border-radius: 5px;
      margin: 0;
      padding: 10px;
      text-decoration: none;
    }
    .popupC{
      background: #3a96ff;
      border-radius: 5px;
      margin: 0;
      padding: 10px;
      text-decoration: none;
    }
    .popupW{
      background: #f38125;
      border-radius: 5px;
      margin: 0;
      padding: 10px;
      text-decoration: none;
    }
 
    .btnLocation {
      background: rgb(0, 192, 255);
      text-align: center;   
      border-radius: 13px;
      margin-bottom: 5px;
      border: none;
    }
    .btnLocation:hover {
      background: white;
    }
    #locationTitle{
      margin-left: 20px;
      text-align: left;
      color: white;
    }
    #help {
      margin-left: 20px;
      margin-bottom: 0;
      padding: 5px 0;
      width: 100%;
      color: white;
    }
    #get_location {
      background: #007EFF;
      border: none;
      min-width: 150px;
      width: 5%;
      text-align: center;
      margin-left: 20px;
      margin-bottom: 10px;
      border-radius: 11px;
    }
    #get_location:hover{
      color: $mn-color;
      background: white;
      text-decoration: none;
    }
    // Map End

  }

