* {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; }

a:hover {
  text-decoration: none; }

::-webkit-scrollbar {
  display: none; }

.sectioncenter {
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);
  min-width: 700px;
  max-width: 1000px;
  text-align: center; }

.sectionhead {
  color: white; }

body {
  background: #0F1222; }

.pepisLogo {
  height: 70px;
  position: fixed;
  z-index: 10001;
  margin-top: 10px;
  margin-left: 80%;
  transition: all 0.4s ease-in-out;
  cursor: inherit; }

.pepisLogo-nav {
  position: fixed;
  margin-left: 40%;
  height: 90px;
  cursor: pointer;
  z-index: 10002;
  transition: all 0.4s ease-in-out; }

.fa {
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px; }

.fa-bars {
  color: black;
  font-size: 25px;
  cursor: pointer; }

.fa-home {
  color: #0F1222; }

.fa-address-card-o {
  font-size: 15px; }

.fa-info {
  font-size: 15px; }

.fa-map-marker {
  margin: 0px 2px;
  cursor: inherit;
  color: white; }

.fa-times {
  color: white;
  margin-right: 40px;
  float: right; }

.addingred {
  color: #FF3030; }

.fa-angle-down {
  float: right;
  color: #0F1222;
  margin-right: 10%; }

.sidebar-nav-closed {
  position: fixed;
  background: #0F1222;
  height: 100vh;
  width: 40%;
  top: 0;
  left: -40%;
  transition: all 0.4s ease-in-out; }

.sidebar-nav-opened {
  position: fixed;
  background: white;
  height: 100vh;
  width: 50%;
  top: -10;
  left: 0px;
  border-right: 4px solid white;
  z-index: 10009;
  overflow-y: scroll; }

.close-rect-hidden {
  top: 0;
  left: 0%;
  position: fixed;
  width: 100%;
  transition: all 0.6s ease-in-out;
  z-index: 1001; }

.close-rect-showing {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.76);
  margin-left: 40%;
  height: 100vh;
  transition: all 0.6s ease-in-out;
  cursor: pointer; }

.mobileTitle1 {
  position: absolute;
  width: 100%;
  margin-top: 70px;
  margin-left: 50%;
  text-align: center;
  transform: translate(-50%);
  color: #FF8700;
  cursor: default;
  text-transform: uppercase; }

.mobileTitle2 {
  position: absolute;
  margin-top: 80px;
  font-size: 90px;
  margin-left: 50%;
  transform: translate(-50%);
  cursor: default;
  text-transform: uppercase; }

#title {
  color: #FF8700; }

#Y {
  height: 30px;
  margin-top: 200px;
  margin-left: 50%;
  transform: translate(-50%); }

.sidenav {
  overflow-y: scroll;
  padding-left: 0;
  margin-top: 30px; }

#sidetitle {
  font-size: 23px;
  margin-top: 20px;
  margin-left: 5px;
  cursor: default; }

.sidenav-item {
  padding-left: 15px;
  padding-bottom: 10px;
  background: white;
  padding-top: 25px;
  border-bottom: 1px solid rgba(38, 38, 38, 0.24);
  text-transform: capitalize; }

.sidenav-item > a {
  color: black; }

.sidenav-image {
  margin-bottom: 10px;
  background: blue;
  width: 100%; }

.main-image {
  margin-left: 10px;
  margin-bottom: 10px;
  background: blue; }

.menu-items {
  margin-bottom: 10px; }

.sidenav-item:hover {
  color: #FF8700; }

.infoNav {
  display: none; }

.openMenu {
  display: none; }

@media only screen and (min-width: 350px) {
  .pepisLogo {
    height: 110px; } }

@media only screen and (min-width: 725px) {
  body {
    background: #0F1222; }
  .fa-home {
    color: white; }
  .location {
    float: left; }
  .inside {
    color: #FF3030; }
  #Y {
    height: 50px; }
  .infoNav {
    display: inline; }
  .foodNav {
    display: none; }
  .openMenu {
    display: initial; }
  .secondNav {
    margin-top: 41px;
    height: 55px;
    text-align: center;
    padding: 0px 0;
    background: #0D0D12;
    box-shadow: 0 -100px 980px #FF8700; }
  .thirdnav {
    height: 50px;
    text-align: center;
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 25px;
    background: #0D0D12;
    border: 1px solid white; }
  .pizzanav {
    color: #0F1222; }
  .sticky {
    position: fixed;
    margin-top: 41px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1006; }
  .sticky2 {
    top: 100px;
    height: 50px;
    position: fixed;
    z-index: 1006;
    text-align: center;
    min-width: 800px;
    max-width: 800px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 25px; }
  .main-item {
    color: white;
    cursor: pointer;
    height: 50px;
    padding-top: 13px;
    display: inline-block;
    min-width: 50px;
    margin-right: 20px; }
  .main-item1 {
    height: 50px;
    padding-top: 13px;
    display: inline-block;
    min-width: 50px;
    margin-right: 20px; }
  .main-item:hover {
    color: #FF8700; }
  .pizza-item {
    cursor: pointer;
    height: 50px;
    padding-top: 13px;
    display: inline-block;
    min-width: 50px;
    margin-right: 20px;
    color: white; }
  .pizza-item:hover {
    color: #FF8700; }
  .openedLocation {
    padding-top: 20px;
    margin: 0 auto; }
  .closedLocation {
    display: none; }
  #map {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 500px;
    width: 100%; }
  #pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    transform: translate(10%);
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 500px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: none; }
  #popheader {
    font-size: 25px; }
  .popupK {
    background: #ffdb3a;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    text-decoration: none; }
  .popupC {
    background: #10FFC6;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    text-decoration: none; }
  .popupW {
    background: #f38125;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    text-decoration: none; }
  .btnLocation {
    background: #00c0ff;
    text-align: center;
    border-radius: 13px;
    margin-bottom: 5px;
    border: none; }
  .btnLocation:hover {
    background: white; }
  #locationTitle {
    margin-left: 20px;
    text-align: left;
    color: white; }
  #help {
    margin-left: 20px;
    margin-bottom: 0;
    padding: 5px 0;
    width: 100%;
    color: white; }
  #get_location {
    background: #007EFF;
    border: none;
    min-width: 150px;
    max-width: 150px;
    height: 30px;
    margin-left: 20px;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 10px;
    border-radius: 11px;
    cursor: pointer; }
  #get_location:hover {
    color: #FF8700;
    background: white;
    text-decoration: none; }
  .nearby {
    font-size: 15px; }
  .home-mobile {
    display: none; } }

.home {
  float: right; }

.view-menu {
  margin-top: 42px;
  text-decoration: none; }

.mainnav {
  padding-left: 0;
  margin-top: 30px; }

.mainnav-item {
  padding-left: 15px;
  padding-bottom: 10px;
  background: white;
  padding-top: 25px;
  border-bottom: 1px solid rgba(38, 38, 38, 0.24);
  text-transform: capitalize; }

.sizes {
  margin-left: 50%;
  transform: translate(-50%);
  width: 60%; }
